{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Category
{% endblock title %}


{% block content %}
<h1>Категории </h1>
{% if category %}
    <table>
        <tr>
            <td> Название категории </td>
        </tr>
        {% for cats in category %}
        <tr>
            <td> <a href="{% url 'category_post' cats.id %}">{{ cats.name_category }} </a> </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<h2> Категорий нет </h2>
{% endif %}
{% endblock content %}