{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
PostCategory
{% endblock title %}


{% block content %}


{% if postcategory %}
{% csrf_token %}
        <table>
            <tr>
                <td> Заголовок</td>
                <td> Дата публикации </td>
                <td> Текст </td>
            </tr>
            {% for post in postcategory %}
            <tr>
                <td> {{ post.title }} </td>
                <td> {{ post.time_in|date:'d M Y' }} </td>
                <td> {{ post.text|truncatewords:15 }} </td>

            </tr>
            {% endfor %}
        </table>

{% endif %}
{% endblock content %}